*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: burlywood;
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
a:hover{
    color: rgba(8, 7, 7, 0.3);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


h3{
    margin: 10px;
    font-size: medium;
}

#btn{
    /* background-color: burlywood; */
    color: black;
}
.container{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;

    height: 200px;
    width: 400px;
    margin: auto;
    border-radius: 3px;
}
.box{
    margin: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}